@import url("https://fonts.googleapis.com/css?family=Exo+2:200i");
body {
    background-image: url("https://5.imimg.com/data5/YV/MU/MY-26543581/vinyl-coated-fabric-500x500.jpg");
    background-color: #fcf8f5;
}

.double-border-text {
    margin-left: 100px; 
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: 70px;
    color: #ab7135;
    text-shadow: -1px 0 #663300, 0 1px #663300,
        1px 0 #663300, 0 -1px #663300;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 25px;
   color:#504444;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
   padding: 10px 20px;
   border: 2px solid #504444;
  border-radius: 20px;
  /* background-image: url("https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg?size=626&ext=jpg"); */
  background-color: #B89778;
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #977961;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #977961, 0 0.4em 0 0 #504444;
  transform: translate3d(0, 0.4em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: #977961;
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.4em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.4em);
}

button.big-button:active::before {

  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px #977961, 0 0.25em 0 0 #977961;

}

#question {
    margin-top: 20px;
}


#start-round-btn, #round-result, #answer, #progressBar, #countdown, #guesser-turn-back-text, #guesser-guess-text, #acter-draw-text  {
    display: none;
}

.game-form {
    display: flex;
    flex-wrap: nowrap;
} 
.frame{
    position: fixed;
    margin: 10px 70px;
}

.color-bar {
    position: absolute;
    left: 1230px;
    top: 170px;
}
.color-box {
    display: flex;
    flex-direction: column;
}

.color-btn {
    height: 30px;
    width: 30px;
}

#clear {
    margin-top: 90px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 200px 0px 0px 130px;
    align-items: flex-end;
}
.guess-form {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 130px;
    align-items:center;
}
#submit-btn {
    margin: 10px 0px;
    width: 150px;
}
progress[value]{
    margin: 10px 0px 0px 0px;
    width: 270px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) #504444;
    
}

progress[value]::-webkit-progress-bar {
    width: 270px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) #504444;
    background-color: #eee;
}

progress::-webkit-progress-value { 
    background:  #b76f20; 
    color: #b76f20; 
}

span, p {
    color: #504444;
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0px;
}

#round-result {
    margin-top: 25px;
    margin-right: -10px;
}

#start-round-btn {
    position: relative; 
    margin: 0px 30px 0px 153px;
    top: 20px; 

}

#guesser-question-text {
    margin-right: 30px;
}

#acter-question-text {
    margin-right:10px;
}

#guesser-turn-back-text {
    margin-left: 165px;
    margin-top: 60px;
}

#input-box {
    display: block; 
}

#countdown {
    margin-bottom: 20px;
}

img {
    height: 30px;
    width: 30px;
    object-fit: scale-down;
}

.eraser {
    padding: 0px;
    margin-top: 5px;
    background: transparent;
}

p {
    text-align:center;
    width: 250px;
}
#information-div {
    display: inline-block;
    position: relative;
     top: -25px;
    left: 25px;
}

#information  {
   
    color: #80471C; 
    cursor: pointer;
}
#information-text {
    position: absolute;
    padding: 10px 5px;
    display:none;
    top: -60px;
    left: -10px;
    min-width: 270px;
    background-color: #504444;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: black;
    z-index: 3;
    text-align: center;
}

#information-text:after {
   content: " ";
  position: absolute;
  left:15px;
  bottom: -15px;
  border-top: 15px solid #504444;
  border-right: 20px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: none;
}
#information-text span {
    font-size: 18px;
    color: white;
}

#information-div:hover #information-text {
    display: block;
}


:root {
  /* Base font size */
  font-size: 10px;   
  
  /* Set neon color */
  --neon-text-color: #ab7135;
  /* --neon-border-color: #08f; */
}



.score-box {
    position: absolute; 
    left: 150px;
    top: 150px;
    display: inline-block; 
    text-align: center;
    padding:0;
    width:250px;
    height:100px;
    margin-bottom: 80px;
    /* border:4px solid #977961; */
    outline:none;
    background-image: url("https://img.freepik.com/free-photo/wooden-background_24972-623.jpg?size=626&ext=jpg");
    background-color:#5d2906;
    border-radius: 40px;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);

}
.score-box span {
     font-size: 40px;
     color:  #f5ede6;
     animation: flicker 1.5s infinite alternate;     
}

#win-round::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#win-round::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#win-round:focus {
  outline: none;
}
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #f5ede6,
            0.2rem 0.2rem 1rem #f5ede6,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #f5ede6,
            inset 0 0 .5rem #f5ede6,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

.link {
    position: absolute;
    left: 650px;
    top: 30px;
    margin-top: 10px;
    display: inline-block; 
    text-align: center;
    padding:0;
    width:450px;
    height:70px;
    /* border:4px solid #977961; */
    outline:none;
    /* background-color: #e0cab3;
    border: 5px solid #5d2906; 
    border-radius: 30px;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25); */
}

.link a {
    margin: 5px 10px; 
    font-size: 20px;
    text-decoration: none;
}
.link a:hover {
    cursor: pointer; 
    text-decoration: underline;
}